<html lang="en">
  
<head>
<meta charset="UTF-8">
<title>Motherboard</title>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<style>
	main { padding-bottom: 100px; }
</style>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="wrapper">
	<header>
		<table>
			<tr>
				<th style="padding-left: 150px;"><a href="/"><img src="img/logo.gif" \
					alt="Niaves Logo" style="width:150px;height:100px;"></a>				<th style="padding-left: 50px;">

					
					<div class="search-container">
						<form action="http://localhost/search.php" method="post">
						<button class="dropbtn">Categories</button>
						<div class="dropdown-content">
							<a href="/clothing">Clothing</a>
							<a href="/electronic">Electronics</a>
						</div>
						<!-- <input type="submit" value="Search"> -->
						</form>
					</div>
					
				</th> <!-- MAY OR MAY NOT WORK -->
				
				<th style="padding-right: 90px;"><a href="/sign-in">Sign In</a></th>
				
				<th style="padding-right: 110px;"><a href="/sign-up">Sign Up</a></th>
			<tr>
		</table>
	</header>

	<nav>
	 <ul>
		<li><a href="/">Home</a></li>
		<li><a href="/electronic">Electronics</a></li>
		<li><a href="/clothing">Clothing</a></li>
	 </ul>
	</nav>
		 
<main>
	<h1>Motherboard for your PC</h1>
	<img src="img/circuits2.jpg" alt="All-in-one device">
	<br>
	<h2>Description</h2>
	<p>This product contains the very best motherboard for your awesome PC</p>
	<button class="dropbtn" style="margin-top: 50px;">Buy</button>
</main>

<footer>
		<p>estefan@valencia.com</p>
</footer>
</div>	
</body>
   
</html>
