<html lang="en">
  
<head>
<meta charset="UTF-8">
<title>Circuits and Wires</title>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<style>
	main { padding-bottom: 100px; }
	
	#table {
            margin: 0 auto;
            font-size: large;
            border: 1px solid black;
			width: 600px;
        }
  
        #table h1 {
            text-align: center;
            color: #006600;
            font-size: xx-large;
            font-family: 'Gill Sans', 
                'Gill Sans MT', ' Calibri', 
                'Trebuchet MS', 'sans-serif';
        }
  
        #table td {
            background-color: #E4F5D4;
            border: 1px solid black;
			text-align: center;
        }
	
</style>
<link rel="stylesheet" href="css/main.css">
<script>
</script>
</script>
</head>
<body>
<div id="wrapper">
	<header>
		<table>
			<tr>
				<% if(userLogged != undefined) { %>
					<th style="padding-right: 30px; padding-left:10px;">Welcome <%=userLogged.name%></th>
				<% } %>
				<th style="padding-left: 90px;"><a href="/"><img src="img/logo.gif" \
					alt="Niaves Logo" style="width:150px;height:100px;"></a>
				<th style="padding-left: 50px;">
					
					<div class="search-container">
						<form action="http://localhost/search.php" method="post">
						<button onclick="addToCart()" type="button" class="dropbtn">Categories</button>
						<div class="dropdown-content">
							<a href="/clothing">Clothing</a>
							<a href="/electronic">Electronics</a>
						</div>
						<!-- <input type="submit" value="Search"> -->
						</form>
					</div>
					
				</th> <!-- MAY OR MAY NOT WORK -->
				
				<% if(userLogged != undefined) { %>
					<th style="padding-right: 40px;"><a href="/SignIn">Sign Out</a></th>
				<% } else { %>
				<th style="padding-right: 40px;"><a href="/SignIn">Sign In</a></th>
				
				<th style="padding-right: 40px;"><a href="/SignUp">Sign Up</a></th>
				<% } %>
			<tr>
		</table>
	</header>

	<nav>
	 <ul>
		<li><a href="/">Home</a></li>
		<li><a href="/electronic">Electronics</a></li>
		<li><a href="/clothing">Clothing</a></li>
	 </ul>
	</nav>
		 
<main>
	<h1>Cart</h1>

	<div id="result"></div>
	<table id="table">
		<tr>
			<th>Items in your cart</th>
		</tr>
		<tr>
			<td><p id="demo"></p></td>
		</tr>
	</table>
	<script>
	const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
	const product = urlParams.get('product')
	document.getElementById("demo").innerHTML = product;
	console.log(product);
	console.log(queryString);
	</script>
</main>

<footer>
		<p>estefan@valencia.com</p>
</footer>
</div>	
</body>
   
</html>
