 <!DOCTYPE html>
<html lang="en">
<head>
<title>Buying/Bidding Website</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="css/main.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<style>
	main {
  padding-top: 100px;
  padding-bottom: 100px;
}
</style>
</head>
<body>
<div id="wrapper">
	<header>
		<table>
			<tr>
				<% if(userLogged != undefined) { %>
					<th style= "padding-left:10px;">Welcome <%=userLogged.name%></th>
				<% } %>
				<th style="padding-left: 90px;"><a href="/"><img src="img/logo.gif" \
					alt="Niaves Logo" style="width:150px;height:100px;"></a>
				<th style="padding-left: 50px;">

					
					<div class="search-container">
						<form>
						<button class="dropbtn">Categories</button>
						<div class="dropdown-content">
							<a href="/clothing">Clothing</a>
							<a href="/electronic">Electronics</a>
						</div>
						</form>
					</div>
					
				</th> <!-- MAY OR MAY NOT WORK -->
				<% if(userLogged != undefined) { %>
					<th style="padding-right: 10px;"><a href="/SignIn">Sign Out</a></th>
					<th style="padding-right: 10px;"><a href="/cart">Cart</a></th>
				<% } else { %>
				<th style="padding-right: 10px;"><a href="/SignIn">Sign In</a></th>
				
				<th style="padding-right: 10px;"><a href="/SignUp">Sign Up</a></th>
				<% } %>
			<tr>
		</table>
	</header>

	<nav>
	 <ul>
		<li><a href="/">Home</a></li>
		<li><a href="/electronic">Electronics</a></li>
		<li><a href="/clothing">Clothing</a></li>
	 </ul>
	</nav>
	
	<main>
		<!--<h1>Welcome to Emazon</h1>
		<p>Technology and Clothing Online Store</p>-->
		
		
		<!-- SLIDESHOW -->
		<div class="slideshow">
		
			<!-- Full width images with numbers and captions -->
			<div class="mySlides fade">
				<img src="img/tech1.jpg" style="width: 60%">
			</div>
			
			<div class="mySlides fade">
				<img src="img/clothing1.jpg" style="width: 60%">
			</div>

			<div class="mySlides fade">
				<img src="img/circuits2.jpg" style="width: 60%">
			</div>
			
			<div class="mySlides fade">
				<img src="img/clothing2.jpg" style="width: 60%">
			</div>

			<div class="mySlides fade">
				<img src="img/drone1.jpg" style="width: 60%">
			</div>
			
			<div class="mySlides fade">
				<img src="img/clothing3.jpg" style="width: 60%">
			</div>

			<div class="mySlides fade">
				<img src="img/circuits1.jpg" style="width: 60%">
			</div>

			<div class="mySlides fade">
				<img src="img/tech2.jpg" style="width: 60%">
			</div>


			<!-- Now for the buttons -->
			<a class="prev" style="margin-left: -355px;" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" style="margin-right: 145px;" onclick="plusSlides(1)">&#10095;</a>
		</div>
		
		<!-- the dots/circles -->
		<div style="text-align: center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
			<span class="dot" onclick="currentSlide(4)"></span>
			<span class="dot" onclick="currentSlide(5)"></span>
			<span class="dot" onclick="currentSlide(6)"></span>
			<span class="dot" onclick="currentSlide(7)"></span>
			<span class="dot" onclick="currentSlide(8)"></span>
		</div>
		
		<script>
			var slideIndex = 1;
			showSlides(slideIndex);
			
			function plusSlides(n) {
				showSlides(slideIndex += n);
			}
			
			function currentSlide(n) {
				showSlides(slideIndex = n);
			}
			
			function showSlides(n) {
				var i;
				var slides = document.getElementsByClassName("mySlides");
				var dots = document.getElementsByClassName("dot");
				if (n > slides.length) {slideIndex = 1}
				if (n < 1) {slideIndex = slides.length}
				for (i=0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
				}
			
				slides[slideIndex-1].style.display = "block";
				dots[slideIndex-1].className += " active";
			}
		</script>
		<!-- END SLIDESHOW -->
		
		<h1>Electronics Category</h1>
		<a href="/electronic"><img src="img/tech1.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>
		<a href="/electronic"><img src="img/tech2.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>
		<a href="/electronic"><img src="img/circuits1.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>
		<a href="/electronic"><img src="img/circuits2.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>
		<a href="/electronic"><img src="img/drone1.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>

		
		
		
		<h1>Clothing Category</h1>
		<a href="/clothing"><img src="img/clothing1.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>
		<a href="/clothing"><img src="img/clothing2.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>
		<a href="/clothing"><img src="img/clothing3.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>
		<a href="/clothing"><img src="img/clothing4.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>
		<a href="/clothing"><img src="img/clothing5.jpg" alt="HTML tutorial" style="width:100px;height:100px;"></a>
		
		
	</main>
	
	
	<footer>
		<p>estefan@valencia.com</p>
	</footer>
</div>
</body>
</html>
