<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact Form</title>
<meta charset="utf-8">
<style>
form{width: 40%;
	  display: inline-block;
}
body{
		text-align: center;
}
</style>
</head>
<body>
	<h1>Sign-In</h1>
	<form>
		<fieldset><legend>Sign-In</legend>
		<label>E-mail: <input type="text" name="email" id="email"></label><br><br>
		<label>Password: <input type="password" name= "password" id="password"></label><br><br>
		<input type= "submit" value="Sign-In">
		</fieldset>
	</form>
	</body>
</html>